- provide(:header_active, "Root")
- breadcrumb :root
%h1 
  Witaj na stronie o 4 edycji systemu Legenda Pięciu Kręgów.

- if can? :create, Announcement
  = link_to 'Dodaj Post!', new_announcement_path
= render @announcements
