.side_button
  %p.css-vertical-text
    Działy
.side_panel{ id: 'root_panel' }
  %ul.no_dot
    %li.side_panel_li{ id: 'close_panel' }
      Zamknij mnie

  %ul.no_dot
    %li.side_panel_li{ id: 'clans_panel_button' }
      Klan
    %li.side_panel_li{ id: 'spells_panel_button' }
      Czary
    %li.side_panel_li
      Umiejętności
    %li.side_panel_li
      Zalety/Wady
.side_panel{ id: 'clans_panel' }
  %ul.no_dot
    %li.side_panel_li{ id: 'close_clans_panel'}
      Zamknij klany
  To jest clan_panel
.side_panel{ id: 'spells_panel'}
  %ul.no_dot
    %li.side_panel_li{ id: 'close_spells_panel'}
      Zamknij Czary
  %ul.no_dot
    %li.side_panel_li{ id: 'fire_spells_panel_button' }
      Czary Ognia
    %li.side_panel_li{ id: 'water_spells_panel_button' }
      Czary Wody
  To jest spells_panel
.side_panel{ id: 'fire_spells_panel' }
  %ul.no_dot
    %li.side_panel_li{ id: 'close_fire_spells_panel' }
      Zamknij Czary Ognia
  To są czary Ognia
.side_panel{ id: 'water_spells_panel' }
  %ul.no_dot
    %li.side_panel_li{ id: 'close_water_spells_panel' }
      Zamknij Czary Wody
  To są czary Wody  