- provide(:header_active, 'Twoj_Dzial')
- provide(:title, 'Nowa Postać')
- breadcrumb :user_page
%h1
  Witaj
  = @user.username

%p
  = link_to 'Dodaj Postać', new_user_character_path(current_user)

%ul.no_dot
  - current_user.characters.each do |character|
    %li
      = link_to full_name(character), user_character_path( current_user, character.id)