= label_tag :character_basic_school, 'Szkoła'
= collection_select( :character, :basic_school_ids, @schools, :id, :name)
%span.glyphicon.glyphicon-question-sign{"data-toggle"=> "modal", "data-target"=> "#school_desc", :type => "button"}
= render partial: 'shared/pop_up_window', locals: {head_object: @selected_school.name, desc_object: @selected_school.desc, id_name: 'school_desc'}