= form_for [ current_user, current_user.characters.build] do |f|
  = render 'general_info', f: f
  = render 'attributes_and_skills', f: f
  = render 'open_questions_and_hidden_and_rest', f: f
%button{ id: 'prev_form_button' }
  prev
%button{ id: 'next_form_button' }
  next
