%ul.no_dot.form_partial.last_partial
  %li
    = render 'character_open_questions', f: f
  %li
    %strong
      Udostępnić postać innym?
    = f.check_box(:public)
  %li
    = f.submit "Dodaj Postać"