.no_dot {
  list-style-type: none;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.middle_text {
  text-align: center;
}

.justify {
  text-align: justify;
}

.indent {
  text-indent: 10px;
}

.help_cursor {
  cursor: help;
}

.pointer_cursor {
  cursor: pointer;
}

.no_margin {
  margin: 0px;
}

.hide {
  display: none;
}
