.no_dot {
  list-style-type: none;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.middle_text {
  text-align: center;
}

.justify {
  text-align: justify;
}

.indent {
  text-indent: 10px;
}